<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No funciona AHHHHHH AYudaaa</title>
 <!-- <link rel="stylesheet" href="../styles/style.css">-->
 <link rel="stylesheet" href="../styles/style.css">
 
</head>
<body>
  <body style="background-color:#00eaff;"></body>
<h1 > Vivan Las chivas</h1>
<h4>Adrian Ortiz Yau </h4>
  <form action="/agregar" method="post" class="formulario">
    <input type="text" name="nombre" placeholder="NOMBRE" required>
    <input type="email" name="correo" placeholder="CORREO ELECTRONICO" required>
    <button type="submit">Enviar</button>
  </form>

</body>
</html>
